<ion-card>
    <ion-card-header>
        <ion-item lines="none" [button]="!enableInput" (click)="toggleDetails()">
            <ion-label *ngIf="nutritionFactsComponent.showDetails || enableInput">
                <h1>{{ "core.components.nutrition-facts.TITLE" | translate }}</h1>
            </ion-label>
            <ion-label *ngIf="!nutritionFactsComponent.showDetails && !enableInput">
                <h1>{{ nutritionFacts?.calories }} kcal</h1>
            </ion-label>
            <ion-icon *ngIf="!enableInput" slot="end"
                [name]="nutritionFactsComponent.showDetails ? 'caret-up-circle' : 'caret-down-circle'"
                color="dark"></ion-icon>
        </ion-item>
    </ion-card-header>

    <ion-card-content *ngIf="!enableInput && nutritionFactsComponent.showDetails">
        <ion-grid class="ion-no-padding">
            <ion-row>
                <ion-col>
                    <ion-item lines="full" color="table-row-two">
                        <ion-label><strong>{{ "core.components.nutrition-facts.CALORIES" | translate
                                }}</strong></ion-label>
                        <ion-label class="ion-text-end">{{ nutritionFacts?.calories }} kcal</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col color="table-row-two">
                    <ion-item lines="none" color="table-row-one">
                        <ion-label><strong>{{ "core.components.nutrition-facts.TOTAL_FAT" | translate
                                }}</strong></ion-label>
                        <ion-label class="ion-text-end">{{ nutritionFacts?.totalFat }} g</ion-label>
                    </ion-item>
                    <ion-item lines="full" color="table-row-one">
                        <ion-label class="ion-padding-start">{{ "core.components.nutrition-facts.SATURATED_FAT" |
                            translate }}</ion-label>
                        <ion-label class="ion-text-end">{{ nutritionFacts?.saturatedFat }} g</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col color="table-row-two">
                    <ion-item lines="none" color="table-row-two">
                        <ion-label><strong>{{ "core.components.nutrition-facts.TOTAL_CARBOHYDRATE" | translate
                                }}</strong></ion-label>
                        <ion-label class="ion-text-end">{{ nutritionFacts?.totalCarbohydrate }} g</ion-label>
                    </ion-item>
                    <ion-item lines="full" color="table-row-two">
                        <ion-label class="ion-padding-start">{{ "core.components.nutrition-facts.SUGAR" | translate
                            }}</ion-label>
                        <ion-label class="ion-text-end">{{ nutritionFacts?.sugar }} g</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item lines="full" color="table-row-one">
                        <ion-label><strong>{{ "core.components.nutrition-facts.FIBER" | translate
                                }}</strong></ion-label>
                        <ion-label class="ion-text-end">{{ nutritionFacts?.fiber }} g</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item lines="full" color="table-row-two">
                        <ion-label><strong>{{ "core.components.nutrition-facts.PROTEIN" | translate
                                }}</strong></ion-label>
                        <ion-label class="ion-text-end">{{ nutritionFacts?.protein }} g</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item lines="full" color="table-row-one">
                        <ion-label><strong>{{ "core.components.nutrition-facts.SODIUM" | translate
                                }}</strong></ion-label>
                        <ion-label class="ion-text-end">{{ nutritionFacts?.sodium }} g</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>

    <ion-card-content *ngIf="enableInput && nutritionFacts">
        <ion-grid class="ion-no-padding">
            <ion-row>
                <ion-col>
                    <ion-item lines="full">
                        <ion-label><strong>{{ "core.components.nutrition-facts.CALORIES" |
                                translate }}</strong></ion-label>
                        <ion-icon slot="start" *ngIf="!isCaloriesValid()" color="danger" name="alert-circle"></ion-icon>
                        <ion-icon slot="start" *ngIf="isCaloriesValid()" color="success"
                            name="checkmark-circle"></ion-icon>
                        <ion-input class="ion-text-end ion-padding-end" [(ngModel)]="nutritionFacts!.calories"
                            type="number"
                            [placeholder]="'core.components.nutrition-facts.CALORIES' | translate"></ion-input>
                        <ion-label class="ion-text-end">kcal</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item lines="none">
                        <ion-label><strong>{{ "core.components.nutrition-facts.TOTAL_FAT" |
                                translate }}</strong></ion-label>
                        <ion-icon slot="start" *ngIf="!isValueValid(nutritionFacts.totalFat)" color="danger"
                            name="alert-circle"></ion-icon>
                        <ion-icon slot="start" *ngIf="isValueValid(nutritionFacts.totalFat)" color="success"
                            name="checkmark-circle"></ion-icon>
                        <ion-input class="ion-text-end ion-padding-end" [(ngModel)]="nutritionFacts!.totalFat"
                            type="number"
                            [placeholder]="'core.components.nutrition-facts.TOTAL_FAT' | translate"></ion-input>
                        <ion-label class="ion-text-end">g</ion-label>
                    </ion-item>
                    <ion-item lines="full">
                        <ion-label class="ion-padding-start">{{ "core.components.nutrition-facts.SATURATED_FAT" |
                            translate }}</ion-label>
                        <ion-icon slot="start"
                            *ngIf="!isValueValid(nutritionFacts.saturatedFat, nutritionFacts.totalFat)" color="danger"
                            name="alert-circle"></ion-icon>
                        <ion-icon slot="start"
                            *ngIf="isValueValid(nutritionFacts.saturatedFat, nutritionFacts.totalFat)" color="success"
                            name="checkmark-circle"></ion-icon>
                        <ion-input class="ion-text-end ion-padding-end" [(ngModel)]="nutritionFacts!.saturatedFat"
                            type="number"
                            [placeholder]="'core.components.nutrition-facts.SATURATED_FAT' | translate"></ion-input>
                        <ion-label class="ion-text-end">g</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item lines="none">
                        <ion-label><strong>{{
                                "core.components.nutrition-facts.TOTAL_CARBOHYDRATE" |
                                translate }}</strong></ion-label>
                        <ion-icon slot="start" *ngIf="!isValueValid(nutritionFacts.totalCarbohydrate)" color="danger"
                            name="alert-circle"></ion-icon>
                        <ion-icon slot="start" *ngIf="isValueValid(nutritionFacts.totalCarbohydrate)" color="success"
                            name="checkmark-circle"></ion-icon>
                        <ion-input class="ion-text-end ion-padding-end" [(ngModel)]="nutritionFacts!.totalCarbohydrate"
                            type="number"
                            [placeholder]="'core.components.nutrition-facts.TOTAL_CARBOHYDRATE' | translate"></ion-input>
                        <ion-label class="ion-text-end">g</ion-label>
                    </ion-item>
                    <ion-item lines="full">
                        <ion-label class="ion-padding-start">{{ "core.components.nutrition-facts.SUGAR" |
                            translate }}</ion-label>
                        <ion-icon slot="start"
                            *ngIf="!isValueValid(nutritionFacts.sugar, nutritionFacts.totalCarbohydrate)" color="danger"
                            name="alert-circle"></ion-icon>
                        <ion-icon slot="start"
                            *ngIf="isValueValid(nutritionFacts.sugar, nutritionFacts.totalCarbohydrate)" color="success"
                            name="checkmark-circle"></ion-icon>
                        <ion-input class="ion-text-end ion-padding-end" [(ngModel)]="nutritionFacts!.sugar"
                            type="number"
                            [placeholder]="'core.components.nutrition-facts.SUGAR' | translate"></ion-input>
                        <ion-label class="ion-text-end">g</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item lines="full">
                        <ion-label><strong>{{
                                "core.components.nutrition-facts.FIBER" |
                                translate }}</strong></ion-label>
                        <ion-icon slot="start" *ngIf="!isValueValid(nutritionFacts.fiber)" color="danger"
                            name="alert-circle"></ion-icon>
                        <ion-icon slot="start" *ngIf="isValueValid(nutritionFacts.fiber)" color="success"
                            name="checkmark-circle"></ion-icon>
                        <ion-input class="ion-text-end ion-padding-end" [(ngModel)]="nutritionFacts!.fiber"
                            type="number"
                            [placeholder]="'core.components.nutrition-facts.FIBER' | translate"></ion-input>
                        <ion-label class="ion-text-end">g</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item lines="full">
                        <ion-label><strong>{{
                                "core.components.nutrition-facts.PROTEIN" |
                                translate }}</strong></ion-label>
                        <ion-icon slot="start" *ngIf="!isValueValid(nutritionFacts.protein)" color="danger"
                            name="alert-circle"></ion-icon>
                        <ion-icon slot="start" *ngIf="isValueValid(nutritionFacts.protein)" color="success"
                            name="checkmark-circle"></ion-icon>
                        <ion-input class="ion-text-end ion-padding-end" [(ngModel)]="nutritionFacts!.protein"
                            type="number"
                            [placeholder]="'core.components.nutrition-facts.PROTEIN' | translate"></ion-input>
                        <ion-label class="ion-text-end">g</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item lines="full">
                        <ion-label><strong>{{
                                "core.components.nutrition-facts.SODIUM" |
                                translate }}</strong></ion-label>
                        <ion-icon slot="start" *ngIf="!isValueValid(nutritionFacts.sodium)" color="danger"
                            name="alert-circle"></ion-icon>
                        <ion-icon slot="start" *ngIf="isValueValid(nutritionFacts.sodium)" color="success"
                            name="checkmark-circle"></ion-icon>
                        <ion-input class="ion-text-end ion-padding-end" [(ngModel)]="nutritionFacts!.sodium"
                            type="number"
                            [placeholder]="'core.components.nutrition-facts.SODIUM' | translate"></ion-input>
                        <ion-label class="ion-text-end">g</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>

        </ion-grid>
    </ion-card-content>
</ion-card>