<app-header [component]="this" [canGoBack]="false" [canSubmit]="false" title="pages.tabs.dashboard.header.TITLE">
  <ion-button (click)="addPosition()"><ion-icon slot="icon-only" name="add-circle"></ion-icon></ion-button>
</app-header>

<ion-content [fullscreen]="true">
  <app-content-wrapper>
    <app-nutrition-facts></app-nutrition-facts>

    <ion-button expand="block" (click)="addPosition()"><ion-icon slot="icon-only"
        name="add-circle"></ion-icon></ion-button>


  </app-content-wrapper>
</ion-content>